<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users id</title>
    <link rel="stylesheet" href="./user.css">
</head>
<body>
    <main class="fm">
        <form action="/users/id">
            <label>Enter id : <input type="text" name="id" placeholder="Id"</label>
            <br>
            <button class="btn" type="submit">get Data</button>
        </form>
    </main>
    
</body>
</html>